<ion-view  id="page7" class=" " ng-show="!showDetail" title="{{view.title}}">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="createMemberModal()" class="button ion-plus" style="font-size:20px;">
        
     </button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <ion-list>
                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <img src="">
                        <h2>{{item.product_id}}</h2>
                        <p style="white-space:normal;">
                            Name : {{item.product_title}}
                            <br>Status : {{(item.product_active==1?'Aktif':'No Aktif')}}
                            <br>Create : {{item.created_at}}
                            <br>Update : {{item.updated_at}}
                        </p>
                        <ion-option-button class="button-energized ion-edit" ng-click="updateMemberModal(item)"></ion-option-button>
                        <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteMember(item)"></ion-option-button>
                        <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i>
                </ion-item>     
        </ion-list>
    </ion-content>
</ion-view>

<ion-view  id="page7" class="" ng-show="showDetail" title="Detail {{view.title}}">
    <ion-content padding="true" class="has-header">
        <ng-Detail source="data" id="id"></ng-detail>
    </ion-content>
</ion-view>

<script id="add.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <div class="bar bar-header">
                <button ng-click="closeMemberModal()" class="button">Close</button>
                <h1 class="title">Members Store</h1>
                <button ng-click="sendMember(newObject)" class="button">Save</button>
            </div>
        </ion-header-bar>

        <ion-content>
            <div class="list list-inset">
            
                <label class="item item-input item-select">
                    <div class="input-label">
                      Category Product
                    </div>
                    <select ng-model="newObject.product_category_id">
                        <option ng-repeat="x in data_category" value="{{x.product_category_id}}">{{x.product_category_title}}</option>
                    </select>
                </label>
            
                <label class="item item-input">
                    <input type="text" placeholder="Product Title" ng-model="newObject.product_title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Product Title Slug" ng-model="newObject.product_title_slug">
                </label>
                    <ion-checkbox ng-model="newObject.product_active"
                                ng-true-value="1"
                                ng-false-value="0"
                                >
                        <span ng-bind="(newObject.product_active==1 ? 'Aktif' : 'No Aktif')"></span> 
                    </ion-checkbox>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
