<ion-view title="camera keren" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/tEgzXnD4QouyEhJAB3rg_Moraine_Lake_17092005.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="cameraKeren-form6" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <label class="item item-input " id="cameraKeren-textarea1">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="cameraKeren-toggle1" class=" ">Toggle</ion-toggle>
        </form>
        <div class="item item-body " id="cameraKeren-list-item-container3">
            <p id="cameraKeren-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <ion-list id="cameraKeren-list5" class=" ">
            <ion-item class="item-thumbnail-left  " id="cameraKeren-list-item21">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="cameraKeren-list-item22">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <button id="cameraKeren-button6" class=" button button-positive  button-block ">Tap me!</button>
        <div class="list card " id="cameraKeren-card22">
            <ion-item class="item-avatar  " id="cameraKeren-list-item11">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body " id="cameraKeren-list-item-container2">
                <p id="cameraKeren-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="cameraKeren-list-item12">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>