<ion-view  id="page7" class=" " ng-show="!showDetail" title="{{view.title}}">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="createCategoryModal()" class="button ion-plus" style="font-size:20px;">
        
     </button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <ion-list>
                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <img src="">
                        <h2>{{item.product_category_id}}</h2>
                        <p style="white-space:normal;">
                            Name : {{item.product_category_desc}}
                            <br>Status : {{(item.product_category_active==1?'Aktif':'No Aktif')}}
                            <br>Create : {{item.created_at}}
                            <br>Update : {{item.updated_at}}
                        </p>
                        <ion-option-button class="button-energized ion-edit" ng-click="updateCategoryModal(item)"></ion-option-button>
                        <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteCategory(item)"></ion-option-button>
                        <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i>
                </ion-item>     
        </ion-list>
    </ion-content>
</ion-view>


<ion-view title="Detail Category" id="page7" class="" ng-show="showDetail">
    <ion-content padding="true" class="has-header">
        <ng-Detail></ng-detail>
    </ion-content>
</ion-view>

<script id="addCategory.html" type="text/ng-template">
  <ion-modal-view>
    
     <ion-header-bar>
      <div class="bar bar-header">
          <button ng-click="closeCategory()" class="button button-clear ion-close" style="font-size:20px;">&nbsp;</button>
          <h1 class="title">Add Category</h1>
          <button ng-click="sendMember(newObject)" class="button button-positive">save</button>
      </div>
     </ion-header-bar>
    
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="mcfly.jpg">
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="newObject.product_category_title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Title Slug" ng-model="newObject.product_category_title_slug">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="newObject.product_category_desc">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Parent" ng-model="newObject.product_category_parent">
                </label>
                <ion-checkbox ng-model="newObject.product_category_active"
                            ng-true-value="1"
                            ng-false-value="0"
                            >
                    <span ng-bind="(newObject.product_category_active==1 ? 'Aktif' : 'No Aktif')"></span> 
                </ion-checkbox>
                <label class="item item-input">
                    <input type="text" placeholder="Home Page" ng-model="newObject.homepage">
                </label>
            </div>
        </div>
    </ion-content>
  </ion-modal-view>
</script>
