<ion-view title="Cloud Tab Default Page" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="cloudTabDefaultPage-list2" class=" ">
            <ion-item class="item-avatar  " id="cloudTabDefaultPage-list-item13">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="cloudTabDefaultPage-list-item20">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="cloudTabDefaultPage-list-item19">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="cloudTabDefaultPage-list-item18">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="cloudTabDefaultPage-list-item16">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="homepage" id="cloudTabDefaultPage-button8" class=" button button-positive  button-block ">homepage</a>
    </ion-content>
</ion-view>