<div class="item item-body">
    <div class="list card">
        <div class="item item-avatar">
            <img src="mcfly.jpg">
            <h2>{{dataDetail.product_category_desc}}</h2>
            <p>{{dataDetail.created_at}}</p>
        </div>

        <div class="row" ng-repeat="(key, item) in dataDetail" style="font-size: 12px;">
            <div class="col">{{key}}</div>
            <div class="col">: {{item}}</div>
        </div>
        <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
        </p>
    </div>
    <div class="button-bar">
        <a ng-class="dataDetail.product_category_active==1?'button button-balanced ion-power':'button button-stable ion-power'"></a>
        <a class="button button-energized ion-edit"></a>
        <a class="button button-assertive ion-trash-a"></a>
    </div>
</div>