<style>
    .no-list{
        position: absolute;
        top: 25px;
        left: 16px;
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
</style>
<ion-view ng-show="!view.detail" title="{{view.title}}" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        {{view.detail}}
        <form id="listorder" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"  ng-model="search" placeholder="cari kursi...">
            </label>
            <ion-list>
                    <ion-item can-swipe="true" class="item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <div class="row">
                            <div class="col col-10"><h2>{{item.order_transaction_number}}</h2></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col col-33">Order ID</div>
                                    <div class="col col-66">: {{item.order_id}}</div>
                                </div>
                                <div class="row">
                                    <div class="col col-33">Create</div>
                                    <div class="col col-66">: {{item.created_at}}</div>
                                </div>
                                <div class="row">
                                    <div class="col col-33">Update</div>
                                    <div class="col col-66">: {{item.update_at}}</div>
                                </div>
                            </div>
                        </div>
                            
                            <ion-option-button class="button-energized ion-edit" ng-click="updateModal(item)"></ion-option-button>
                            <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteModal(item)"></ion-option-button>
                            <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i>
                    </ion-item>     
            </ion-list>
            
            
        </form>
    </ion-content>
</ion-view>

<ion-view ng-show="view.detail" title="{{view.title}}" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="listorder" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"  ng-model="search" placeholder="cari item">
            </label>
            <ion-list>
                <a class="item item-avatar" ng-repeat="(key, item) in data_detail">
                    <div class="no-list">{{key+1}}</div>
                    <h2>{{item.product_title}} {{item.product_item_name}}</h2>
                    <p>{{item.order_qty | number:0}} x {{item.product_item_price | number:2}} = {{item.order_price | number:2}}</p>
                </a>
            </ion-list>
        </form>
    </ion-content>
    <div class="bar bar-footer">
        <!--<button class="button button-clear">Left</button>-->
        <div class="title">Total: {{total_order | number:2}}</div>
        <button class="button button-energized pull-right" ng-click="openModalBayar()">Bayar</button>
    </div>
</ion-view>

<script id="modal-bayar.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="closeModalBayar()" class="button">Close</button>
            <h1 class="title">Transaki</h1>
            <button ng-click="saveModalBayar()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Kursi" ng-model="newObject.order_transaction_number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Telpon"  ng-model="newObject.telpon">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Nama"  ng-model="newObject.nama">
            </label>
        </div>
    </ion-content>
  </ion-modal-view>
</script>