<ion-view title="memberstore" id="page7" class=" ">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="openMemberModal()" class="button ion-plus" style="font-size:20px;">
        
     </button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <ion-list>
                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <img src="">
                        <h2>{{item.name}}</h2>
                        <p style="white-space:normal;">
                            <br>ID Toko : {{item.member_store_id}}
                            <br>Nama: {{item.member_store_name}}
                            <br>Propinsi: {{item.province_id}}
                            <br>Kota: {{item.city_id}}
                            <br>Alamat: {{item.member_store_address}}
                            <br>Telpon: {{item.member_store_phone}}
                            <br>Type: {{item.member_store_type}}
                            <br>Status: {{(item.member_store_status==1?'Aktif':'No Aktif')}}
                        </p>
                        <div class="button-bar">
                            <a class="button ">Add</a>
                            <a class="button ion-edit"></a>
                            <a class="button ion-trash-a"></a>
                        </div>
                        <ion-option-button class="button-clear ion-close-circled"></ion-option-button>
                        <ion-option-button class="button-clear ion-edit"></ion-option-button>
                </ion-item>     
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
          <a ng-click="showPopup()" class="button button-clear icon-left ion-navicon">Sort</a>
          <a ng-click="openModal()" class="button button-clear icon-left ion-android-options">Filter</a>
        </div>
    </div>
</ion-view>

<script id="addMember.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <div class="bar bar-header">
                <button ng-click="closeMemberModal()" class="button">Close</button>
                <h1 class="title">Members Store</h1>
                <button ng-click="createMember(newObject)" class="button">Save</button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Nama" ng-model="newObject.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="newObject.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="newObject.password">
                </label>
                    <ion-checkbox ng-model="newObject.active"
                                ng-true-value="1"
                                ng-false-value="0"
                                >
                        <span ng-bind="(newObject.active==1 ? 'Aktif' : 'No Aktif')"></span> 
                    </ion-checkbox>
            </div>
        </ion-content>
    </ion-modal-view>
</script>

<script id="addStore.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="closeStoreModal()" class="button">Close</button>
            <h1 class="title">Members Store</h1>
            <button ng-click="createStore(newObject)" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nama Toko" ng-model="newObject.member_store_name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Propinsi" ng-model="newObject.province_id">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Kota" ng-model="newObject.city_id">
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="Alamat Toko" ng-model="newObject.member_store_address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Telpon Toko" ng-model="newObject.member_store_phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="member_store_lat" ng-model="newObject.member_store_lat">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="member_store_lng" ng-model="newObject.member_store_lng">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="member_store_type" ng-model="newObject.member_store_type">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="member_store_status" ng-model="newObject.member_store_status">
            </label>
        </div>
    </ion-content>
  </ion-modal-view>
</script>
