<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <!--<ion-nav-back-button></ion-nav-back-button>-->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a ng-click="openModal()" class="button button-icon">
                    <i class="icon ion-compose"></i>
                </a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-assertive">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
          <ion-tree-list items="tasks" collapsed="true"></ion-tree-list>

            <!-- <ion-list id="menu-list9" class=" ">
                <ion-item class="item-icon-right  " id="menu-list-item8" ui-sref="menu.members" menu-close="">Members
                    <i class="icon ion-paintbucket"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item8" ui-sref="menu.memberstore" menu-close="">Members Store
                    <i class="icon ion-paintbucket"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item32" ui-sref="menu.category" menu-close="">Category
                    <i class="icon ion-android-add-circle"></i>
                </ion-item> -->
<!--                <ion-item class="item-icon-right  " id="menu-list-item6" ui-sref="menu.product" menu-close="">Product
                    <i class="icon ion-paintbucket"></i>
                </ion-item>-->
<!--                <ion-item class="item-icon-right  " id="menu-list-item6" ui-sref="menu.barang" menu-close="">Barang
                    <i class="icon ion-paintbucket"></i>
                </ion-item>-->
<!--                <ion-item class="item-icon-right  " id="menu-list-item32" ui-sref="menu.products" menu-close="">Products
                    <i class="icon ion-android-add-circle"></i>
                </ion-item>-->

                <!-- <ion-item class="item-icon-right  " id="menu-list-item31" ui-sref="menu.orders" menu-close="">Orders
                    <i class="icon ion-android-apps"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item31" ui-sref="menu.listorders" menu-close="">List Orders
                    <i class="icon ion-android-apps"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item7" ui-sref="menu.login" menu-close="">logout
                    <i class="icon ion-android-add-circle"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item8" ui-sref="menu.orders" menu-close="">Orders
                    <i class="icon ion-paintbucket"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item123" ui-sref="menu.productcategories" menu-close="">Product Categories
                    <i class="icon ion-paintbucket"></i>
                </ion-item>
<<<<<<< HEAD
            </ion-list> -->
<!--
                <ion-item class="item-icon-right  " id="menu-list-item123" ui-sref="menu.productslist" menu-close="">Product List
                    <i class="icon ion-paintbucket"></i>
                </ion-item> -->
            <!-- </ion-list> -->
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
