<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Choose Menu</h1>
        <button class="button button-clear button-primary" ng-click="closeModalMenu()">Action</button>
        <button class="button button-clear button-primary" ng-click="closeModalMenu()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <h1>Order for Table {{table}}</h1>
            <ion-item class="item-thumbnail-left item-icon-right  " ng-click="checked = !checked" ng-repeat="item in foods | filter:search | orderBy:sort">
                <img src="">
                <h2>{{item.title}}</h2>
                <p style="white-space:normal;">
                    <br>Product Code : {{item.product_id}}
                    <br>IDR : {{item.price}}
                    <br /><span> Kategori : {{item.kategori}}</span>
                    <br /><span> Price : {{item.price}}</span>
                    <br /><span class="badge"> {{ (item.sticky == 1) ? 'hot item' : '' }}</span>
                </p>
                <p ng-show="checked" ng-click="false1();$event.stopPropagation();">
                    <i ng-click="min(item);" class="button icon-pulling ion-ios-minus-outline button-clear button-dark"></i>
                    <i class="button" ng-model="button" ng-disabled="true">{{item.quantity}}</i>
                    <i ng-click="plus(item);" class="button icon-pulling ion-ios-plus-outline button-clear button-dark"></i>
                    <!--<i class="button icon-pulling ion-trash-a button-clear button-dark"></i>-->
                </p>

                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <button class="button button-full button-positive" ng-click="openModalMenu()">Next</button>
        </div>
    </ion-content>
</ion-modal-view>
