<style>
    .table-number{
        width: 80px;
        height: 80px;
        /* background-color: red; */
        float: left;
        text-align: center;
        padding: 28px 10px 10px 10px;
        font-size: 34px;
    }
    .makanan{font-size: 13px}
    .quantity{font-size: 13px;float: right;}
</style>
<ion-view title="Orders" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="products-form7" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search product here...">
            </label>
            <a ng-click="openModal()" class="button button-icon">
                <i class="icon ion-compose"></i>
            </a>
            <ion-item class="item-icon-right" id="products-list-item14" ng-repeat="order in orders">
                    <div class="table-number">#{{order.table}}</div>
                    <h2>Pesanan</h2>
                    <div ng-repeat="menu in order.order">
                        <span class="makanan">{{menu.menu}}</span>
                        <span class="quantity">{{menu.quantity}}</span>
                    </div>
                <a ui-sref="menu.ordersmenu">
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <div id="products-button-bar2" class=" button-bar "></div>
        </form>
    </ion-content>
</ion-view>


<script id="create-order.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">New Order</h1>
            <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label">Table</span>
                    <select ng-model="orders.table">
                        <option value="1">Table 1</option>
                        <option value="2">Table 2</option>
                        <option value="3">Table 3</option>
                    </select>
                </label>
                order : {{orders.table}}
                <!--<button class="button button-full button-positive" ng-click="createOrder(order)">Next</button>-->
                <button class="button button-full button-positive" ng-click="openModalMenu()"ng-disabled="orders.table == 'undefined' || orders.table == null || orders.table.length == 0">Next</button>
                <!--<a ui-sref="menu.ordersmenu" class="button button-full button-positive">Next</a>-->
            </div>
        </ion-content>
    </ion-modal-view>
</script>
