<style>
    .bg-cl-gr {
        color: green;
    }
</style>
<ion-view title="products" id="page7" class=" ">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="openOrder()" class="button ion-bag" style="font-size:20px;">
        
     </button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <form id="products-form7" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"  ng-model="search" placeholder="search product here...">
            </label>
            <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort"  ng-click="checked(item)">
                <img src="">
                <h2>{{item.product_title}}</h2>
                <p style="white-space:normal;">
                    nama : {{item.product_item_name}}
                    <br>Stock : {{item.product_item_stock}}
                    <br>harga : {{item.product_item_price}}
                </p>
                <p ng-show="show_order.indexOf(item.product_item_id) != -1" ng-click="false1();$event.stopPropagation();">
                    <i ng-click="min(item);" class="button icon-pulling ion-ios-minus-outline button-clear button-dark"></i>
                    <i class="button"  ng-disabled="true">{{orders.product_item_stock}}</i>
                    <i ng-click="plus(item);" class="button icon-pulling ion-ios-plus-outline button-clear button-dark"></i>
                    <i class="icon ion-checkmark-circled bg-cl-gr"></i>
                </p>
                <ion-option-button class="button-clear ion-close-circled"></ion-option-button>
                <ion-option-button class="button-clear ion-edit"></ion-option-button>

            </ion-item>
        </form>
        {{orders}}
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="button-bar">
          <a ng-click="showPopup()" class="button button-clear icon-left ion-navicon">Sort</a>
          <a ng-click="openModal()" class="button button-clear icon-left ion-android-options">Filter</a>
        </div>
    </div>
</ion-view>




<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    
     <ion-header-bar>
      <div class="bar bar-header">
          <button ng-click="cancelModal()" class="button icon ion-cancel">Cancel</button>
          <h1 class="title">FILTER PRODUCT</h1>
          <a ng-click="applyModal()" class="button">Apply</a>
        </div>
    </ion-header-bar>
    
    
    <ion-content>
      <ion-list>
        <ion-radio ng-repeat="item in data_category" 
                   ng-value="item.product_category_id"
                   ng-change="kategorichange(item)"
                   ng-model="kategoriitem">
                  <i class="icon ion-home"></i> &nbsp;  {{ item.product_category_desc }}
        </ion-radio>
          
        </ion-list>
    </ion-content>
  </ion-modal-view>
</script>

    
<script id="popup-template.html" type="text/ng-template">
  
      <ion-list>
        <ion-radio ng-repeat="item in sortproduct" 
                   ng-value="item.value"
                   ng-model="data.sort">
                  <i class="icon ion-home"></i> &nbsp;  {{ item.text }}
        </ion-radio>
        </ion-list>
  
</script>



<script id="order.html" type="text/ng-template">
  <ion-modal-view>
    
     <ion-header-bar>
      <div class="bar bar-header">
          <button ng-click="cancelModalOrder()" class="button button-clear ion-android-close">&nbsp;</button>
          <h1 class="title">Order Products</h1>
          <a ng-click="orderNow()" class="button button-assertive">Order Now</a>
      </div>
     </ion-header-bar>
    
    
    <ion-content>
        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="item in orders | filter:search | orderBy:sort" ng-click="checked(item,'1')">
            <img src="">
            <h2>{{item.product_title}}</h2>
                <p style="white-space:normal;">
                    Nama : {{item.product_item_name}}
                    <br>Harga : {{item.product_item_price}}
                    <br>Sub Harga : {{item.sub_harga}}
                </p>
                <p ng-show="show_order.indexOf(item.product_item_id) != -1" ng-click="false1();$event.stopPropagation();">
                    <i ng-click="min(item);" class="button icon-pulling ion-ios-minus-outline button-clear button-dark"></i>
                    <i class="button"  ng-disabled="true">{{item.order_qty}}</i>
                    <i ng-click="plus(item);" class="button icon-pulling ion-ios-plus-outline button-clear button-dark"></i>
                    <i class="icon ion-checkmark-circled bg-cl-gr"></i>
                </p>
        </ion-item>
     
     
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">Total: {{ getTotal() |number:2}}</div>
    </div>
  </ion-modal-view>
</script>

<script id="order-member.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="closeOrderMember()" class="button">Close</button>
            <h1 class="title">Data Pemesan</h1>
            <button ng-click="saveOrderMember()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Kursi" ng-model="newObject.order_transaction_number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Telpon"  ng-model="newObject.telpon">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Nama"  ng-model="newObject.nama">
            </label>
        </div>
    </ion-content>
  </ion-modal-view>
</script>