<ion-view  id="page7" class=" " ng-show="!view.detail" title="{{view.title}}">

    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="createModal()" class="button ion-plus" style="font-size:20px;">

     </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <ion-list>
                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <img src="">
                        <h2>{{item.product_id}}</h2>
                        <p style="white-space:normal;">
                            Name : {{item.product_title}}
                            <br>Status : {{(item.product_active==1?'Aktif':'No Aktif')}}
                            <br>Create : {{item.created_at}}
                            <br>Update : {{item.updated_at}}
                        </p>
                        <ion-option-button class="button-energized ion-edit" ng-click="updateModal(item)"></ion-option-button>
                        <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteModal(item)"></ion-option-button>
                        <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<ion-view  id="page7" class="" ng-show="view.detail" title="Detail {{view.title}}">
    <ion-content padding="true" class="has-header">
        <ng-Detail source="data" id="id"></ng-detail>
    </ion-content>
</ion-view>

<script id="add.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <div class="bar bar-header">
                <button ng-click="closeModal()" class="button">Close</button>
                <h1 class="title">Members Store</h1>
                <button ng-click="send(newObject)" class="button">Save</button>
            </div>
        </ion-header-bar>

        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Category" ng-click="searchModal()" ng-model="view.product_category_title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Product Title" ng-model="newObject.product_title">
                </label>
                    <ion-checkbox ng-model="newObject.product_active"
                                ng-true-value="1"
                                ng-false-value="0"
                                >
                        <span ng-bind="(newObject.product_active==1 ? 'Aktif' : 'No Aktif')"></span>
                    </ion-checkbox>
            </div>
        </ion-content>
    </ion-modal-view>
</script>

<script id="search.html" type="text/ng-template">
    <ion-modal-view>


    <ion-header-bar class="bar-assertive">
        <h1 class="title">{{myTitle}}</h1>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
        <button ng-click="closeSearch()" class="button button-clear">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <li class="item" ng-repeat="item in data_category | filter:search" ng-click="selectSearch(item)">{{item.product_category_title}}</li>
        </div>
    </ion-content>
    </ion-modal-view>
</script>
