<ion-view title="Signup" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form9" class="list ">
            <ion-list id="signup-list8" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button9" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>