<style>
    .item-icon-left {
        padding-left: 100px;
    }
</style>

<ion-view title="{{view.title}}" id="page7" class=" ">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="reset1()" class="button button-assertive">reset</button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <label class="item item-input" name="search">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search"  ng-model="search" placeholder="search product here...">
        </label>
        <ion-checkbox class="icon" ng-true-value=true ng-false-value=false ng-model="checked_all" ng-change="select_all()">Cek All</ion-checkbox>
        <ion-item class="item-icon-left item-text-wrap" ng-repeat="item in data | filter:search | orderBy:sort"  ng-click="checked(item)">
            <ion-checkbox class="icon" ng-click="select(item);$event.stopPropagation();" ng-checked="checked_all"></ion-checkbox>
            <p>{{item.key}}</p>
            <p ng-show="show_order.indexOf(item.key) != -1">{{item.value}}</p>
        </ion-item>
    </ion-content>
</ion-view>
