<ion-view  id="page7" class="" title="Reports">

    <ion-nav-buttons side="right">
      <button ng-click="modalOrderSetting.show()" class="button ion-settings" style="font-size:20px;">
    </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
      Report {{active}}
      <hr />

      <canvas class="chart chart-line" chart-data="datachartOrder" chart-labels="labels" chart-series="serie" chart-click="onClick"></canvas>

    <p> TOTAL Product {{dataOrders.length}} </p>
    <ion-list>
            <ion-item can-swipe="true" class="item-icon-right" ng-repeat="item in dataOrders | filter:search | orderBy:sort">
                <div class="row">
                    <div class="col" ng-click="orderDetails(item.created_at, active, item.product_id)">

                        <div class="row" ng-if="active == 'month'">
                            <div class="col col-33">Bulan</div>
                            <div class="col col-66">: {{item.created_at | amDateFormat:'MMMM'}}</div>
                        </div>

                        <div class="row" ng-if="active == 'day'">
                            <div class="col col-33">Hari</div>
                            <div class="col col-66">: {{item.created_at | amDateFormat:'dddd, DD MMM'}}</div>
                        </div>

                        <div class="row">
                            <div class="col col-33">Total Order</div>
                            <div class="col col-66">: {{item.total_order}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-33">Total Sell</div>
                            <div class="col col-66">: {{item.order_price | currency:"IDR ":0}}</div>
                        </div>
                        <div class="row">
                            <div class="col col-33">Menu Item</div>
                            <div class="col col-66">: {{item.product_item_name}}</div>
                        </div>
                    </div>
                </div>

                <!-- <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i> -->
            </ion-item>
    </ion-list>

    </ion-content>
</ion-view>



<script id="order-setting.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="modalOrderSetting.hide()" class="button">Close</button>
            <h1 class="title">Reports Setting</h1>
            <button ng-click="saveOrderSetting()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isActive('day')}" ng-click="setActive('day')">Day</a>
            <a class="button" ng-class="{'button-positive': isActive('month')}" ng-click="setActive('month')">Month</a>
        </div>

        <p>Report Date
        <div class="button-bar">
            <a class="button" ng-click="openDatePicker('start')">{{ (ds == '') ? 'date start' : ds }}</a>
            <a class="button" ng-click="openDatePicker('end')">{{ (de == '') ? 'date end' : de }}</a>
        </div>
        <!-- <span am-time-ago="message.time | amParse:'YYYY.MM.DD HH:mm:ss'"></span> -->


        <button ng-click="resetOrderSetting()" class="button">reset</button>
    </ion-content>
  </ion-modal-view>
</script>


<script id="order-detail.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="modalOrderDetail.hide()" class="button">Close</button>
            <h1 class="title">Detail Order</h1>
            <button ng-click="modalOrderDetail.hide()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        detail order

    </ion-content>
  </ion-modal-view>
</script>
