
<ion-view  id="page7" class="" title="Reports">

    <ion-nav-buttons side="right">
      <button ng-click="modalOrderSetting.show()" class="button ion-settings" style="font-size:20px;">
    </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
      Report Per Order
      <hr />

      <canvas class="chart chart-line" chart-data="datachartOrder" chart-labels="labels" chart-series="serie" chart-click="onClick"></canvas>

    <p>TOTAL ORDER : {{ dataOrders.length}}</p>
    <ion-list>
            <ion-item can-swipe="true" class="item-icon-right" ng-repeat="item in dataOrders | filter:search | orderBy:sort">
                <div class="row">
                    <div class="col" ng-click="detailOrders(item.order_id)">
                        <div class="row">
                            <div class="col col-33">#Order Id</div>
                            <div class="col col-66">: {{item.order_id}}</div>
                        </div>

                        <div class="row">
                            <div class="col col-33">Order Date</div>
                            <div class="col col-66">: {{item.created_at | amDateFormat:'dddd, DD MMMM'}}</div>
                        </div>

                        <div class="row">
                            <div class="col col-33">Total Order</div>
                            <div class="col col-66">: {{item.order_price | currency:"IDR ":0}}</div>
                        </div>
                    </div>
                </div>

                <!-- <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i> -->
            </ion-item>
    </ion-list>

    </ion-content>
</ion-view>



<script id="order-setting.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="modalOrderSetting.hide()" class="button">Close</button>
            <h1 class="title">Reports Setting</h1>
            <button ng-click="saveOrderSetting()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isActive('day')}" ng-click="setActive('day')">Day</a>
            <a class="button" ng-class="{'button-positive': isActive('month')}" ng-click="setActive('month')">Month</a>
        </div>

        <p>Report Date
        <div class="button-bar">
            <a class="button" ng-click="openDatePicker('start')">{{ (ds == '') ? 'date start' : ds }}</a>
            <a class="button" ng-click="openDatePicker('end')">{{ (de == '') ? 'date end' : de }}</a>
        </div>

        <button ng-click="resetOrderSetting()" class="button">reset</button>
    </ion-content>
  </ion-modal-view>
</script>


<script id="order-detail.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="OrderDetailModal.hide()" class="button">Close</button>
            <h1 class="title">Detail Order</h1>
            <button ng-click="OrderDetailModal.hide()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>

      <div class="card">
        <div class="item item-divider">
            <b>Order Detail</b> <span class="item-note"> {{data_detail[0].order_id}}</span>
        </div>

        <div class="item item-text-wrap">

          <div class="list card" ng-repeat="data_detail in data_detail_order">
            <a href="#" class="item">
              Order Date {{data_detail.created_at | amDateFormat:'dddd, DD MMMM YYYY'}}
            </a>
            <a href="#" class="item">
              Order Status {{data_detail.order_status}}
            </a>
            <a href="#" class="item">
              Product Name {{data_detail.product_title}}
            </a>
            <a href="#" class="item">
              Product Price {{data_detail.product_item_price | currency:"IDR ":0}}
            </a>
            <a href="#" class="item">
              Product Qty {{data_detail.order_qty}}
            </a>
            <a href="#" class="item" ng-init="grandTotal(data_detail.product_item_price *  data_detail.order_qty)">
              Total Price {{ (data_detail.product_item_price *  data_detail.order_qty) | currency:"IDR ":0 }}
            </a>
          </div>
        </div>
        <div class="item item-divider">
            Grand Total <span class="item-note"> {{ grand_total | currency:"IDR ":0 }}</span>
        </div>
      </div>

    </ion-content>
  </ion-modal-view>
</script>
