
<style>
.itemreport .col-list{
  overflow: hidden;
}
.itemreport .text-left{
  float:left;
}
</style>
<ion-view  id="page7" class="" title="Reports">

    <ion-nav-buttons side="right">
      <button ng-click="modalOrderSetting.show()" class="button ion-settings" style="font-size:20px;">
    </button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
      Report {{active}}
      <hr />

      <canvas class="chart chart-line" chart-data="datachartOrder" chart-labels="labels" chart-series="serie" chart-click="onClick"></canvas>

    <ion-list>

            <ion-item can-swipe="true" class="itemreport" ng-repeat="item in dataOrders | filter:search | orderBy:sort" ng-click="orderDetails(item.created_at, active)">
                  <div class="col col-list">
                  <div class="col col-50">
                    <span ng-if="active == 'month'">
                       <i class="icon ion-calendar"></i>
                        {{item.created_at | amDateFormat:'MMM'}}
                    </span>

                    <span ng-if="active == 'day'" class="item-note">
                        <i class="icon ion-calendar"></i>
                        {{item.created_at | amDateFormat:'ddd, DD MMM'}}
                    </span>
                  </div>

                <div class="col col-list">
                      <span class="item-note text-left">ttl order {{item.total_order}}</span>
                      <span class="item-note"> {{item.order_price | currency:"IDR ":0}}</span>
                </div>
            </ion-item>
    </ion-list>

    </ion-content>
</ion-view>



<script id="order-setting.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="modalOrderSetting.hide()" class="button">Close</button>
            <h1 class="title">Reports Setting</h1>
            <button ng-click="saveOrderSetting()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="button-bar">
            <a class="button" ng-class="{'button-positive': isActive('day')}" ng-click="setActive('day')">Day</a>
            <a class="button" ng-class="{'button-positive': isActive('month')}" ng-click="setActive('month')">Month</a>
        </div>

        <p>Report Date
        <div class="button-bar">
            <a class="button" ng-click="openDatePicker('start')">{{ (ds == '') ? 'date start' : ds }}</a>
            <a class="button" ng-click="openDatePicker('end')">{{ (de == '') ? 'date end' : de }}</a>
        </div>
        <!-- <span am-time-ago="message.time | amParse:'YYYY.MM.DD HH:mm:ss'"></span> -->


        <button ng-click="resetOrderSetting()" class="button">reset</button>
    </ion-content>
  </ion-modal-view>
</script>


<script id="order-detail.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="modalOrderDetail.hide()" class="button">Close</button>
            <h1 class="title">Detail Order</h1>
            <button ng-click="modalOrderDetail.hide()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        detail order

    </ion-content>
  </ion-modal-view>
</script>
