<ion-view title="Login" hide-nav-bar="true" id="page6" class="pane-login">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <form id="login-form5" class="list ">
            <div class="">
                <!-- <img src="img/logo-restaurant.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"> -->
            </div>
            <h4 id="login-heading2" style="color:#fff;text-align:center;margin-top: 100px;font-size: 24px;padding-bottom: 20px;" class=" ">LOGIN</h4>
            <!-- <div id="login-button-bar1" class=" button-bar ">
                <button id="login-button12" class=" button button-positive  button-block button-outline icon ion-social-facebook ">&nbsp;facebook</button>
                <button id="login-button10" class=" button button-calm  button-block button-outline icon ion-social-twitter ">&nbsp;twitter</button>
            </div> -->
            <ion-list id="login-list3" class=" ">
                <label class="item item-input item-transparent" id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="" ng-model="data.email">
                </label>
                <label class="item item-input item-transparent" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="data.password">
                </label>
            </ion-list>
            <!-- <a ui-sref="menu.orders" id="login-button4" class=" button button-assertive  button-block icon-right ion-android-arrow-forward " ng-click="login()">&nbsp; Login</a> -->
            <a  class=" button button-assertive  button-block icon-right ion-android-arrow-forward " ng-click="login()">&nbsp; Login</a>
            <a  class=" button button-positive  button-block icon-right ion-android-exit" ng-click="opendaftarbaru()">&nbsp; Belum Punya Akun</a>
            <!-- <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button5" class=" button button-positive  button-block icon-right ion-android-exit ">Create Account</a> -->
        </form>
        <div id="login-markdown5" style="color:#AAAAAA;text-align:center;margin-top: -20px;" class=" ">
          <a class="link-text color-white" ng-click="openresetpassword()">&nbsp; Reset Password ?</a>
        </div>
    </ion-content>
</ion-view>
