<style>
    #form-edit-meja .item {
        border-width: 0px; 
    }
    button {
        width: 100%;
    }
    .row {
        border: 1px solid #ddd;
    }
    input.meja {
        width: 100%;
        border: 1px solid #ccc;
    }
    .col-no-meja {
        padding: 0 5px;
    }
    .item-checkbox {
        padding-left: 40px;
    }
    
</style>
<ion-view title="{{view.title}}" id="page7" class=" ">
  
    <ion-nav-buttons side="right">
<!--    <span class="badge badge-assertive" style="font-size:8px;">1</span>-->
     <button ng-click="reset()" class="button button-energized">reset</button>
    </ion-nav-buttons>        
   
    <ion-content padding="true" class="has-header">
        <form id="form-input-meja" class="list text-center" ng-show="form">
            <h4>Input Meja</h4>
            <ion-list id="" class=" ">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Input Jumlah Meja" ng-model="field.jumlah_meja">
                    </label>
                </div>
            </ion-list>
            <button ng-click="saveJumlah()" class="button button-balanced">Save</button>
        </form>
        <ion-list>
            <form id="form-edit-meja" class="list " ng-show="!form">
                <h4 class="text-center">Edit Meja</h4>
                <div ng-repeat="item in data">
                    
                    <div class="row">
                        <div class="col-20">
                            <ion-checkbox 
                                ng-model="field.status[item.meja_id]" 
                                ng-checked="item.status==1"
                                ng-click="clickStatus(item.meja_id)"
                                ng-true-value=1
                                ng-false-value=0
                                ></ion-checkbox>
                        </div>
                        <div class="col-20 col-no-meja"><input type="text" class="meja" placeholder="Nomor" ng-model="field.meja_no[item.meja_id]"></div>
                        <div class="col-60"><input type="text" class="meja" placeholder="Nama Meja" ng-model="field.label[item.meja_id]"></div>
                        <!--<div class="col">{{item.label}}</div>-->
                        </div>
                </div>
                <button ng-click="editMeja()" class="button button-balanced">Save</button>
            </form>
        </ion-list>
        
    </ion-content>
</ion-view>
