<style>
    .no-list{
        position: absolute;
        top: 25px;
        left: 16px;
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .button-status {
        text-align: center;
    }
    .button-status .button {
        opacity: 1;
    }
    
    .column {
        overflow: hidden;
        padding: 2px 0;
    }
    span.label {
        float: left;
    }
    span.value {
        float: right;
        width: 69%;
    }
    legend {
        width: auto;
        border: 0; 
        font-size: medium; 
    }
    .coloumn-metode {
            float: left;
    padding: 0 10px;
    }
    
</style>
<ion-view ng-show="!view.detail" title="{{view.title}}" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="listorder" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"  ng-model="search" placeholder="cari kursi...">
            </label>
            
            <ion-list>
                    <ion-item can-swipe="true" class="item-icon-right" ng-repeat="item in data | filter:search | orderBy:sort">
                        <div class="row">
                            <div class="col col-20"><h2>{{item.order_transaction_number}}</h2></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col col-33">Order ID</div>
                                    <div class="col col-66">: {{item.order_id}}</div>
                                </div>
                                <div class="row">
                                    <div class="col col-33">Create</div>
                                    <div class="col col-66">: {{item.created_at}}</div>
                                </div>
                                <div class="row">
                                    <div class="col col-33">Status</div>
                                    <div class="col col-66">: {{item.order_status}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="button-status">
                            <button ng-disabled="item.order_status==status.order.masak.value" ng-click="changeStatus(item, status.order.masak.value)" ng-class="(item.order_status==status.order.masak.value? 'button button-assertive' : 'button button-clear')">{{status.order.masak.label}}</button>
                            <button ng-disabled="item.order_status==status.order.matang.value" ng-click="changeStatus(item, status.order.matang.value)" ng-class="(item.order_status==status.order.matang.value? 'button button-energized' : 'button button-clear')">{{status.order.matang.label}}</button>
                            <button ng-disabled="item.order_status==status.order.antar.value" ng-click="changeStatus(item, status.order.antar.value)" ng-class="(item.order_status==status.order.antar.value? 'button button-balanced' : 'button button-clear')">{{status.order.antar.label}}</button>
                        </div>
                        
                        <!--button-assertive // button-energized //button-balanced--> 
                        
                        <ion-option-button class="button-energized ion-edit" ng-click="updateModal(item)"></ion-option-button>
                        <ion-option-button class="button-assertive ion-close-circled" ng-click="deleteModal(item)"></ion-option-button>
                        <i ng-click="urlTo(item)" class="icon ion-ios-arrow-right"></i>
                    </ion-item>     
            </ion-list>
            
            
        </form>
    </ion-content>
</ion-view>

<ion-view ng-show="view.detail" title="{{view.title}}" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="listorder" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search"  ng-model="search" placeholder="cari item">
            </label>
            <ion-list>
                <a class="item item-avatar" ng-repeat="(key, item) in data_detail">
                    <div class="no-list">{{key+1}}</div>
                    <h2>{{item.product_title}} {{item.product_item_name}}</h2>
                    <p>{{item.order_qty | number:0}} x {{item.product_item_price | number:2}} = {{item.order_price | number:2}}</p>
                </a>
            </ion-list>
        </form>
    </ion-content>
    <div class="bar bar-footer">
        <!--<button class="button button-clear">Left</button>-->
        <div class="title">Total: {{field.total_order | number:2}}</div>
        <button class="button button-energized pull-right" ng-click="openModalBayar()">Bayar</button>
    </div>
</ion-view>

<script id="modal-bayar.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <button ng-click="closeModalBayar()" class="button">Close</button>
            <h1 class="title">Transaki</h1>
            <button ng-click="saveModalBayar()" class="button">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Kursi" ng-model="newObject.order_transaction_number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Telpon"  ng-model="newObject.telpon">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Nama"  ng-model="newObject.nama">
            </label>
        </div>
    </ion-content>
  </ion-modal-view>
</script>
<script id="modal-transaksi.html" type="text/ng-template">
    <div class="coloumn-metode" ng-repeat="option in options">
        <input
          type="checkbox"
          name="selectedFruits[]"
          value="{{option.name}}"
          ng-model="option.selected"
          ng-click="selectedMetode(option.id)"
        > {{option.name}}
    </div>
    <br><br>
    
    <fieldset>
        <legend>Pembayaran:</legend>
        <div class="column">
            <span class="label">Total</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.total_order | number:2" disabled></span>
        </div>
        <div class="column">
            <span class="label">Kembali</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.kembali | number:2" disabled></span>
        </div>
    </fieldset>
    
    <fieldset ng-show="selection.indexOf(2) != -1">
        <legend>Card:</legend>
        <div class="column">
            <span class="label">Number</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.no_card" ui-number-mask="-3"></span>
        </div>
        <div class="column">
            <span class="label">TID</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.tid" ui-number-mask="-3"></span>
        </div>
        <div class="column">
            <span class="label">MID</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.mid" ui-number-mask="-3"></span>
        </div>
        <div class="column">
            <span class="label">Bayar</span>
            <span class="value"><input type="text" style="text-align: right;" ng-keydown="kembalian()" ng-model="field.bayar_card" ui-number-mask="-3"></span>
        </div>
    </fieldset>
    
    <fieldset ng-show="selection.indexOf(3) != -1">
        <legend>Voucher:</legend>
        <div class="column">
            <span class="label">Number</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.no_voucher" ui-number-mask="-3"></span>
        </div>
        <div class="column">
            <span class="label">Expired</span>
            <span class="value"><input type="text" style="text-align: right;" ng-model="field.expired_voucher" ui-number-mask="-3"></span>
        </div>
        <div class="column">
            <span class="label">Bayar</span>
            <span class="value"><input type="text" style="text-align: right;" ng-keydown="kembalian()" ng-model="field.bayar_voucher" ui-number-mask="-3"></span>
        </div>
    </fieldset>
    
    <fieldset ng-show="selection.indexOf(1) != -1">
        <legend>Tunai:</legend>
        <div class="column">
            <span class="label">Bayar</span>
            <span class="value"><input type="text" style="text-align: right;" ng-keydown="kembalian()" ng-model="field.bayar" ui-number-mask="-3"></span>
        </div>
    </fieldset>
</script>