<ion-modal-view>

   <ion-header-bar class="bar bar-header bar-assertive">
     <h1 class="title">Form Lanjutan</h1>
     <button ng-click="reset()" class="button icon ion-cancel">Cancel</button>
  </ion-header-bar>


  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="form-modalstoreform" name="form" role="form" ng-submit="save()" method="post">
        <div class="form-info center-text">Sebelum melanjutkan, silahkan lengkapi data terkait dengan Usaha Anda</div>
        <ion-list id="daftarbaru-list3" class=" ">

            <label class="item item-input " ng-class="{ 'has-errors' : error['name'] && submitted, 'no-errors' : !error['name'] && submitted}">
                <span class="input-label">Nama Usaha</span>
                <input type="text" placeholder="" ng-model="data.name">
            </label>
            <div class="error-container last-error-container" ng-show="error['name'] && submitted">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['name'] }}
              </div>
            </div>

            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Alamat</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
            
            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">No Telpn</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
            
            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Type Usaha</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
            
            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Provinsi</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
            
            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Kota</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
            
            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Logo</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>
        </ion-list>
        <div class="bar bar-footer bar-positive bar-footer-fixed">
          <button type="submit" style="bottom: 10px;width: 100%;" id="daftarbaru-btn-submit" class=" button button-positive  button-block">&nbsp; Simpan</button>
        </div>
    </form>

  </ion-content>
</ion-modal-view>
