<ion-modal-view ng-controller="daftarBaruCtrl">

   <ion-header-bar class="bar bar-header bar-assertive">
     <h1 class="title">Form Registrasi</h1>
     <button ng-click="reset()" class="button icon ion-cancel">Cancel</button>
  </ion-header-bar>


  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="form-daftarbaru" name="form" role="form" ng-submit="save()" method="post">
        <div class="form-info center-text">Untuk melakukan registrasi, silahkan lengkapi data Anda berikut ini</div>
        <ion-list id="daftarbaru-list3" class=" ">

            <label class="item item-input " ng-class="{ 'has-errors' : error['name'] && submitted, 'no-errors' : !error['name'] && submitted}">
                <span class="input-label">Nama</span>
                <input type="text" placeholder="" ng-model="data.name">
            </label>
            <div class="error-container last-error-container" ng-show="error['name'] && submitted">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['name'] }}
              </div>
            </div>

            <label class="item item-input " ng-class="{ 'has-errors' : error['email'] && submitted, 'no-errors' : !error['email'] && submitted}">
                <span class="input-label">Email</span>
                <input type="text" placeholder="" ng-model="data.email">
            </label>
            <div class="error-container last-error-container" ng-show="error['email'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['email'] }}
              </div>
            </div>

            <label class="item item-input " ng-class="{ 'has-errors' : error['password'] && submitted, 'no-errors' : !error['password'] && submitted}">
                <span class="input-label">Password</span>
                <input type="password" placeholder="" ng-model="data.password">
            </label>
            <div class="error-container last-error-container" ng-show="error['password'] && submitted" ng-messages="">
              <div class="error">
                <i class="ion-information-circled"></i>
                {{ error['password'] }}
              </div>
            </div>

            <!-- <label class="item item-input " id="login-input4">
                <span class="input-label">Retype Password</span>
                <input type="password" placeholder="" ng-model="data.retypepassword">
            </label> -->
        </ion-list>
        <div class="bar bar-footer bar-positive bar-footer-fixed">
          <button type="submit" style="bottom: 10px;width: 100%;" id="daftarbaru-btn-submit" class=" button button-positive  button-block">&nbsp; Simpan</button>
        </div>
        <!-- <a id="login-button4" class=" button button-assertive  button-block" ng-click="save()">&nbsp; Simpan</a> -->
    </form>

  </ion-content>
</ion-modal-view>
