<ion-view title="Add New Product" id="page987" class=" ">
    <ion-content padding="true" class="has-header">
        product item : {{productitem}}
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    Kategori
                </div>
                <select ng-model="product.category" ng-change="addNewCategory()">
                    <option  ng-repeat="category in data_category" value="{{category.product_category_id}}">{{category.product_category_title}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Name</span>
                <input type="text" placeholder="Product Item Name" ng-model="productitem.item_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Desc</span>
                <input type="text" placeholder="Product Item Desc" ng-model="product.item_desc">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Stock</span>
                <input type="number" placeholder="Product Item Stock" ng-model="product.item_stock">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Current Stock</span>
                <input type="number" placeholder="Product Item Current Stock" ng-model="product.item_current_stock">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Price</span>
                <input type="number" placeholder="Product Item Price" ng-model="product.item_price">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Item Discount</span>
                <input type="number" placeholder="Product Item Discount" ng-model="product.item_discount">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Product Item active</span>
                <select ng-model="product.item_active">
                    <option value="0">Not Active</option>
                    <option value="1">Active</option>
                </select>
            </label>

            <button class="button button-full button-positive" ng-click="addproduct(product)">
                Save
            </button>

        </div>
    </ion-content>
</ion-view>