<ion-view title="Add Product">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Kategori
                </div>
                <select ng-model="product.product_category_id">
                    <option  ng-repeat="category in data_category" value="{{category.product_category_id}}">{{category.product_category_title}}</option>
                </select>
            </label>
            <!--<a ui-sref="product_category.new" style="text-align: center;"><h4>or add new category</h4></a>-->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Product Name</span>
                <input type="text" placeholder="Ex : Ayam, daging, etc" ng-model="product.product_title" name="product_name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Status</div>
                <select ng-model="product.product_active">
                    <option value="0">Not Active</option>
                    <option value="1">Active</option>
                </select>
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="addproduct(product)">
            Next
        </button>
    </ion-content>

    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="#">
                Product
            </a>
            <a class="tab-item" href="#">
                Product Items
            </a>
            <a class="tab-item" href="#">
                Media
            </a>
        </div>
    </div>
</ion-view>
