<style>
</style>
<ion-view title="Products" id="page987" class=" ">

    <ion-nav-buttons side="right">
        <a class="button button-icon" ng-click="addNewProduct()"><i class="icon ion-compose"></i></a>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-divider">
                Candy Bars
            </div>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
        </div>
        <button class="button button-full button-positive" ui-sref="menu.addproductform">
            Add New Product
        </button>
    </ion-content>
</ion-view>
