<ion-view title="Product Detail">
    <ion-content padding="true" class="has-header">
        <!--{{image_url}}-->
        <div class="item item-image">
            <img src="{{detailProduct.media_url}}" class=""/>
        </div>
        <div class="row font-color">
            <div class="col-67 bold" style="padding: 5px;">{{detailProduct.product_item_name}}</div>
            <div class="col text-align-right">Rp. {{detailProduct.product_item_price}}</div>
        </div>
        <div class="row font-color">
            <div class="col">Stock : {{detailProduct.product_item_stock}}</div>
        </div>
        <div class="row font-color">
            <div class="col">
                Description : <br />
                <p style="text-align: justify">{{detailProduct.product_item_desc}}</p>
            </div>
        </div>
        <!--<a ng-click="editProduct(detailProduct.product_item_id)" class="button button-block button-outline button-assertive">-->
        <a ui-sref="menu.productupdate({idx:detailProduct.product_item_id})" class="button button-block button-outline button-assertive">
            Edit Menu
        </a>
    </ion-content>
</ion-view>