<style>
    .has-header{
        top: 44px;
    }
</style>
<ion-view>
    <ion-tabs class="tabs-positive tabs-icon-top tabs-bottom">
        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-content class="has-header" padding="true">
                <form novalidate class="simple-form" name="productAdd">
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Kategori
                            </div>
                            <select ng-model="product.product_category_id" required name="product_category_id">
                                <option  ng-repeat="category in data_category" value="{{category.product_category_id}}">{{category.product_category_title}}</option>
                            </select>
                            <!--<select ng-options="item as item.product_category_title for item in data_category track by item.product_category_id" ng-model="product.product_category_id" ng-change="addNewCategory(product.product_category_id)"></select>-->

                            <span ng-show="productAdd.product_category_id.$invalid && productAdd.product_category_id.$touched" class="help-block assertive">Category is required.</span>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Product Name</span>
                            <input type="text" placeholder="Ex : Ayam, daging, etc" ng-model="product.product_item_name" name="product_title" required>
                            <span ng-show="productAdd.product_title.$invalid && productAdd.product_title.$touched" class="help-block assertive">You name is required.</span>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Product Desc</span>
                            <input type="text" placeholder="Product Desc" ng-model="product.product_item_desc" name="item_desc" required>
                            <span ng-show="productAdd.item_desc.$invalid && productAdd.item_desc.$touched" class="help-block assertive">Product Desc is required.</span>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Product Item Stock</span>
                            <input type="number" placeholder="Product Item Stock" ng-model="product.product_item_stock" name="item_stock" required>
                            <span ng-show="productAdd.item_stock.$invalid && productAdd.item_stock.$touched" class="help-block assertive">Stock is required.</span>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Product Item Price</span>
                            <input type="number" placeholder="Product Item Price" ng-model="product.product_item_price" name="item_price" required>
                            <span ng-show="productAdd.item_price.$invalid && productAdd.item_price.$touched" class="help-block assertive">Price is required.</span>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Product Item Discount</span>
                            <input type="number" placeholder="Product Item Discount" ng-model="product.product_item_discount"  name="item_discount" required>
                            <span ng-show="productAdd.item_discount.$invalid && productAdd.item_discount.$touched" class="help-block assertive">Discount is required.</span>
                        </label>
                        <label class="item item-input item-select">
                            <span class="input-label">Product Item active</span>
                            <select ng-model="product.product_active" name="active" required>
                                <option value="0">Not Active</option>
                                <option value="1">Active</option>
                            </select>
                            <span ng-show="productAdd.active.$invalid && productAdd.active.$touched" class="help-block assertive">You name is required.</span>
                        </label>
                    </div>
            <span ng-if="isNewRecord == true">
                <button type="submit" ng-click="" class="button button-block button-positive" ng-disabled="productAdd.$invalid">Save & Next</button>
            </span>
            <span ng-if="isNewRecord == false">
                <button type="submit" ng-click="updateProduct()" class="button button-block button-positive" ng-disabled="productAdd.$invalid">Save & Next</button>
            </span>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-content padding="true" class="hasheader">
                {{product_media}}
                <form name="addMediaProduct" ng-submit="uploadFile()">
                    <input type="hidden" ng-model="product_media.product_item_id" ng-value="product_media.product_item_id" name="product_item_id_media" />
                    <!--<img ng-show="">-->
                    <input type="file" file-model="product_media.image" required ng-model="product_media.image"/>
                    <button class="button botton-block button-positive" ng-disabled="addMediaProduct.$invalid">upload me</button>
                </form>
                <div id="image-preview">
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>