<style>
    .item a{
        text-decoration: none;
        color: #000;
    }
    .sliding-head{
        width: 800px;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 0 0 10px 0;
        color: #FFF;

    }
    .sliding-item{
        float: left;
        padding: 10px;
        background: #ef473a;
        border-bottom: 2px solid #ef473a;
    }
    .active{
        border-bottom: 2px solid #000;
        background: #888;
    }
</style>
<ion-view title="Products" class=" ">

    <ion-nav-buttons side="right">
        <a class="button button-icon" ui-sref="menu.productadd"><i class="icon ion-compose"></i></a>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <!--<div class="sliding-head">-->
            <!--<div class="sliding-item active">Makanan</div>-->
            <!--<div class="sliding-item">Minuman</div>-->
            <!--<div class="sliding-item">Desert</div>-->
            <!--<div class="sliding-item">Makanan</div>-->
            <!--<div class="sliding-item">Minuman</div>-->
            <!--<div class="sliding-item">Desert</div>-->
            <!--<div class="sliding-item">Makanan</div>-->
            <!--<div class="sliding-item">Minuman</div>-->
            <!--<div class="sliding-item">Desert</div>-->
        <!--</div>-->


        <div class="list">
            <div ng-repeat="product in productsList">
                <div ng-if="product.product_category_id != default_i">
                    <div class="item item-divider">
                        {{product.product_category_desc}}
                    </div>
                </div>
                <a ui-sref="menu.productdetail({idx:product.product_item_id})" class="item">
                    {{product.product_item_name}}
                </a>
            </div>
        </div>
        </div>
        <button class="button button-full button-positive" ui-sref="menu.productadd">
            Add New Product
        </button>
    </ion-content>
</ion-view>
