<ion-view title="Orders" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="products-form7" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search product here...">
            </label>
            <!--<a ng-click="openModal()" class="button button-icon">-->
            <a ui-sref="menu.tableOrder" class="button button-icon">
                <i class="icon ion-compose"></i>
            </a>
            <ion-item class="item-icon-right" id="products-list-item14" ng-repeat="order in orders">
                <div class="table-number">#{{order.table}}</div>
                <h2>Pesanan</h2>
                <div ng-repeat="menu in order.order">
                    <span class="makanan">{{menu.menu}}</span>
                    <span class="quantity">{{menu.quantity}}</span>
                </div>
                <a ui-sref="menu.ordersmenu">
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <div id="products-button-bar2" class=" button-bar "></div>
        </form>
    </ion-content>
</ion-view>
