.left{float: left;}
.text-align-left{text-align: left;}
.right{float: right;}
.text-align-right{text-align: right;}
.font-color{color: #444;}
.bold{font-weight: bold}
.col-10, .col-20, .col-25, .col-33, .col-50, .col-67, .col-75, .col-80, .col-90{padding: 5px;}