.bar-footer-fixed {
  position: fixed;
  width: 100%;
}
.center-text {
  text-align: center;
}
.form-info {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
    padding: 20px;
    background-color: #ececec;
}
.scroll-view.scroll-x::-webkit-scrollbar {
    height: 0em;
}
.pane-login {
  background-image: url('images/background.jpg');
}
.side-menu-left {
  background-image: url('images/menu.jpg');
}
.link-text {
  cursor: pointer;
}
.item-transparent {
  background-color: #fff;
  opacity: 0.4;
}
.color-white {
  color: #fff;
}
.input-label {
  /*color: #fff;*/
}

/* Error Div */
.error-container {
  margin: 3px 2px 3px 5px;
}

.error {
  padding: 3px 2px 3px 5px;
  text-transform: capitalize;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
  color: #B83E2C;
  vertical-align: middle;
}

.error i {
  font-size: 18px;
  color: #B83E2C;
  vertical-align: middle;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}
/* End Error Div */

.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}
.prover-title, .prover-button {
  display: inline-block;
}
.prover-title {
  width: 80%;
}
.prover-button {
  width: 20%;
  overflow: hidden;
}
.prover-button button {
  line-height: 0px;
  min-height: 20px;
}

.item-image img{}
.item-image img:hover{opacity: 0.5}
